.background_nav {
    background-color: #1e201e;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    height: 6rem;

    .center_top {
        margin-top: 38px;
    }

    .div_path {
        width: 100%;
        height: 36px;
        border-radius: 0.25rem;
        background-color: white;
    }

    img {
        width: 10%;
    }

}