.img_sass::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_css::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_img::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_js::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_php::before {
    background-image: url('../img/icones/document.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_composer::before {
    background-image: url('../img/icones/visual-studio.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_compo_lock::before {
    background-image: url('../img/icones/fichier_vide.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_index::before {
    background-image: url('../img/icones/visual-studio.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_main::before {
    background-image: url('../img/icones/fichier_css.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_main_css::before {
    background-image: url('../img/icones/fichier_vide.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_maquette::before {
    background-image: url('../img/icones/chromium_logo.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

.img_readme::before {
    background-image: url('../img/icones/fichier_css.svg');
    background-size: 30px 30px;
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: -3px;
    margin-right: 8px;
    content: "";
}

main{
    .container {
        padding: 0;
    }

    .aside_style{
        background-color: #3f3f3d;
        color: antiquewhite;
    }
}
